.socials {
  .socials__item {
    display: inline-block;
    margin-left: 40px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.socials__link {
  &:hover .social-icon {
    fill: $links-color;
  }
}

.socials-mobmenu {
  margin-top: 50px;
  .social-icon {
    fill: $text-color;
  }
}
