.reviews {
  padding: 250px 0 0;
  @include tablets() {
    padding: 200px 0 0;
  }
  @include phones() {
    padding: 160px 0 0;
  }
  .reviews__title {
    margin-bottom: 50px;
    @include phones() {
      text-align: center;
    }
  }
  .reviews__slider {
    width: 66.01%;
    @include desktop() {
      width: 85%;
    }
    @include 800px() {
      width: 100%;
    }
    @include phones() {
      margin-top: 140px;
    }
  }
}
