script(type="text/x-template")#reviews-container
  .reviews__slider(v-if="reviews.length")
    flickity(ref="flickity" :options="flickityOptions" @init="onInit")
      li(v-for="review in reviews" :key="review.id").reviews__slider-item
        slide(
          :review="review"
          )    

script(type="text/x-template")#reviews-slide  
  .reviews__slide
    .reviews__slide-content {{review.text}}
    .reviews__slide-footer
      img(:src="review.avatar" :alt="review.autor").reviews__slide-img
      .reviews__slide-name
        h6.reviews__slide-caption {{review.autor}}
        p.basic-text {{review.position}}
