.reviews-slider
  .reviews-slide
    .reviews-slide-content Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
    .reviews-slide-footer
      +image('content/review-1.jpg', 'reviews-slide-img', 'Ковальчук Дмитрий фото')
      .reviews-slide-name
        h6 Ковальчук Дмитрий
        p Основатель Loftschool
  .reviews-slide
    .reviews-slide-content Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
    .reviews-slide-footer
      +image('content/review-2.jpg', 'reviews-slide-img', 'Владимир Сабанцев фото')
      .reviews-slide-name
        h6 Владимир Сабанцев
        p Преподаватель
  button.arrow-prev
    +icon('arrow-right', 'icon arrow-left')
  button.arrow-next
    +icon('arrow-right', 'icon')
