script(type="text/x-template")#slider-container
  //-pre {{works}}
  .works__slider
    .works__slide
      display(
        :works="works"
        :currentWork="currentWork"
        :currentIndex="currentIndex"
        @slide="handleSlide"
        @selectslide="setSlide"
      )
      info(
        :currentWork="currentWork"
      )
    .works__slide-number {{currentIndex + 1}}

script(type="text/x-template")#slider-display
  .works__slide-preview
    img(:src="currentWork.photo" alt="Фото работы №1").works__slide-preview-img
    thumbs(
      :works="reversedWorks"
      :currentWork="currentWork"
      @selectslide="work => $emit('selectslide', work)"
    )
    .works__previews-shadow
    btns(
      @slide="direction => $emit('slide', direction)"
    )    

script(type="text/x-template")#slider-btns
  .works__nav-btns
    button.works__nav-prev(@click="$emit('slide', 'prev')")
      svg.icon.arrow-down(viewBox="0 0 306 306" preserveAspectRatio="none")
        use(xlink:href="./sprite.svg#arrow-right")
    button.works__nav-next(@click="$emit('slide', 'next')")
      svg.icon.arrow-top(viewBox="0 0 306 306" preserveAspectRatio="none")
        use(xlink:href="./sprite.svg#arrow-right")

script(type="text/x-template")#slider-thumbs
  ul.works__previews
    li.works__previews-item(
      v-for="work in works" :key="work.id"
      :class="{active: currentWork.id === work.id }"
    )
      a.works__previews-link(href='#' @click.prevent="$emit('selectslide', work.id)")
        img(:src="work.photo" alt="").works__previews-img

script(type="text/x-template")#slider-info
  .works__slide-desc
    tags(
      :tagsArray="tagsArray"
    )
    h4.works__slide-caption {{currentWork.title}}
    p.basic-text {{currentWork.desc}}
    a.works__view-link(:href="currentWork.link")
      svg.icon(viewBox="0 0 512.092 512.092" preserveAspectRatio="none")
        use(xlink:href="./sprite.svg#link")
      | Посмотреть сайт

script(type="text/x-template")#slider-tags
  ul.works__tags
    li.works__tags-item(v-for="tag in tagsArray")
      .tag {{tag}}
