section#about.about
  .container    
    .about__info
      .about__info-item
        +image('content/my-pic.jpg', 'about__info-img', 'Веб-разработчик Геннадий Егупов')
      .about__info-item.about__info-item_welcome
        p.basic-text Привет, меня зовут
        h2.section-title.about__title Геннадий Егупов
        p.basic-text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
      .about__info-item
        .about__info-text
          span.about__info-text-row Проживаю:
          span.about__info-text-row Возраст:
          span.about__info-text-row Родился:
        .about__info-text
          span.about__info-text-row Москва
          span.about__info-text-row 46 лет
          span.about__info-text-row 20 октября 1972        
      .about__info-item.about__info-item_note Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
          
