footer.footer
  .container
    .footer__content
      .footer__copy-name
        .footer__copy © 2019
        .footer__site-name
          span.footer__name Геннадий Егупов
          span.footer__name-text Личный сайт веб&#8209;разработчика
      .footer__right
        .footer__menu
          include ../components/footer-menu
        .footer__social Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
          include ../components/socials-footer          
        .footer__quote Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
          span.footer__quote-author Martin Golding
