header#home.header
  .container
    .header__content
      .header__logo ГЕ
      .header__menu      
        include ../components/main-menu
      .header__socials
        include ../components/socials
