section.intro
  .container
    h1.headline
      span Личный&nbsp;сайт веб&nbsp;разработчика
      span Геннадий Егупов
    .scroll-down
      a.scroll-down__link(href='#about' title='Прокрутить вниз') Скролл
        +icon('scroll', 'scroll-down-icon')
