section.intro
  .container
    h1.intro__headline
      span.basic-text Личный&nbsp;сайт веб&nbsp;разработчика
      span.intro__name Геннадий Егупов
.scroll-down
  a(href='#about' title='Прокрутить вниз').scroll-down__link Скролл
    +icon('scroll', 'scroll-down__icon')
