include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Yegupov Gennady Portfolio | Loftschool.com
  body
    .wrapper
      .wrapper-top
        include sections/wrapper-top-bg
        include sections/header
        include sections/intro
        include sections/about
      include sections/skills
      include sections/works
      .wrapper-bottom
        include sections/reviews
        include sections/contact
    include sections/footer
    include components/skills
    include components/works-slider
    include components/reviews-slider
